doctype html
head
  meta(http-equiv='Content-Type' content='text/html' charset='UTF-8')
  meta(http-equiv='X-UA-Compatibile' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Forgot Password
  style.
    body {
    Margin:0;
    padding:0;
    }
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }
    tr.border-btm{
    border-bottom: 1px solid rgb(206, 206, 206);
    }
    .wrapper {
    width: 100%;
    table-layout: fixed;
    background-color: #ffffff;
    }
    .padding {
    padding-right: 5px;
    padding-left: 5px;
    }
    .btn-padding {
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 0;
    padding-bottom: 0;
    }
    .container {
    max-width: 600px;
    Margin: 0 auto;
    }
    img {
    border: 0;
    }
    .outer {
    Margin: 0 auto;
    width: 100%;
    max-width: 600px;
    font-family: sans-serif;
    color: #4a4a4a;
    background-color: #f5f5f5;
    }
    .inner {
    Margin: 0 auto;
    width: 90%;
    max-width: 600px;
    font-family: sans-serif;
    border:1px solid rgb(240 238 238);
    background: white;
    }
    @media screen and (min-width: 600px) {
    .inner {
    padding: 20px;
    border: 1px solid rgb(240 238 238);
    Margin: 0 auto;
    width: 90%;
    background-color: #ffffff;
    }
    img {
    max-width: 600px !important;
    padding: 0;
    Margin:0;
    }
    }
    @media screen and (max-width: 400px) {
    img {
    padding: 0;
    Margin:0;
    }
    }
.wrapper
  .container
    table.outer(style='border-spacing: 0' cellspacing='0')
      tr
        td(style='padding: 0 !important; Margin: 0 !important;')
          table.inner(style='border-spacing: 0' cellspacing='0')
            tr
              td
                table(width='100%' style='border-spacing: 0' cellspacing='0')
                  tr
                    td(style='background-color: #004d0c; Margin:0; height: 20px;')
            tr
              td
                table(width='100%' style='border-spacing: 0' cellspacing='0')
                  tr
                    td(style='Margin: auto; padding: 0; text-align: center;')
                      img(width='80px' height='80px' style='max-width:50%; margin-top: 20px;' src='https://powerapp-ikut.onrender.com/images/logo-green.png' alt='banner-logo')
            tr
              td
                table(width='100%' cellspacing='0' style='border-spacing: 0')
                  tr
                    td.padding
                      p(style='font-size: 16px;') Hi #{username}
            tr
              td
                table(style='border-spacing: 0')
                  tr
                    td.padding(style='font-size: 14px; padding-bottom: 10px;')
                      p(style='Margin: 10px auto;')
                        | You are receiving this email because you or someone
                        | else has requested to reset password.
                      p(style='Margin: 20px auto; padding-bottom: 10px;')
                        | Please click the button below to change your
                        | password
                      a(style='background-color: #004d0c; color: #ffffff; padding: 15px; border-radius: 4px; text-decoration: none;' href=`${Url}` target='_blank') Reset Password
                      p(style='padding-top: 20px;')
                        | The link expires in 15 minutes.
                      p
                        | If you didn&apos;t make this request, please ignore this
                        | email.
                  tr.border-btm
                    td
                  tr
                    td
                      table(width='100%' align='center' style='border-spacing: 0')
                        tr
                          td.padding(style='background-color: #004d0c; color: #ffffff; text-align: center; padding-bottom: 20px;')
                            p(style='font-size: 14px; font-weight: bold; text-align: center;')
                              | Stay Connected With Us
                            a(href='#' style='font-size: 14px; font-weight: bold; text-align: center;')
                              img(width='25' src='https://powerapp-ikut.onrender.com/images/white-instagram.png')
                            a(href='#' style='font-size: 14px; font-weight: bold; text-align: center;')
                              img(width='25' src='https://powerapp-ikut.onrender.com/images/white-linkedin.png')
                            a(href='#' style='font-size: 14px; font-weight: bold; text-align: center;')
                              img(width='25' src='https://powerapp-ikut.onrender.com/images/logo-green.png')
      tr
        td
          table(align='center')
            tr
              td
                p(style='text-align: center; font-size: 12px;')
                  | Copyright &copy; 2024 PowerAdmin, All Rights Reserved
